[submodule "advanced-web-frontend"]
	path = advanced-web-frontend
	url = https://github.com/ThaoLang/advanced-web-frontend.git
[submodule "advanced-web-backend"]
	path = advanced-web-backend
	url = https://github.com/ThaoLang/advanced-web-backend.git
